<footer class="footer">
  <small>
    <a href="http://melodycelest.co.nr/">Melodie Celestie</a>
	testtest
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>